* {
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
  list-style: none;
}

.js-title {
  cursor: pointer;
}

.hidden {
  display: none;
}

.js-create-form {
  margin: 10px 0 20px 0;
  border: 1px solid grey;
  padding: 20px;
  list-style: none;
}

.js-create-form label {
  display: block;
}

.js-create-form input, select {
  margin: 5px;
}


.create-submit-button {
  margin-top: 10px;
}

.js-item-element {
  background-color: lightgray;

}

.js-item-element:hover {
      box-shadow: 5px 5px 2px grey;

}
.js-item-element:hover h2 {
  color: darkviolet
}
.js-title {

}